@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("fonts/gilroy-extrabold.woff2");
}

body {
    font-family: "Girloy-Extrabold", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.page-header {
    width: 1040px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #f7e296;
}

.page-header__logo {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

.page-header__logo-link {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
}

.main-nav__user-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav__user-nav__item {
    font-size: 15px;
    line-height: 30px;
}

.main-nav__site-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav__site-nav__item {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.main-nav__site-nav__link {
    color: #000000;
}

.catalog-menu {
    display: none;
}

.catalog-menu__list {
    list-style: none;
}

.catalog-menu__link {
    color: #000000;
    font-weight: normal;
}

.slider {
    width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}

.slider__list {
    list-style: none;
    position: relative;
    min-height: 335px;
}

.slider-description__title {
    font-size: 47px;
    font-weight: bold;
    line-height: 56px;
}

.slider-description__text {
    font-size: 15px;
    line-height: 30px;
    color: #464646
}

.slider-description__link {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000; 
}

.slider-description__table__td1 {
    font-size: 36px;
    line-height: 48px;
}

.slider-description__table__td2 {
    font-size: 13px;
    line-height: 20px;
}

.slider__slide-first,
.slider__slide-second,
.slider__slide-third {
    display: none;
}

.slider__item {
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.slider-controls {
    position: absolute;
}

.slider-controls__label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
    border-radius: 50%;
}

.slider-controls__label:after {
    border: 2px solid #000000;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    width: 12px;
    border-radius: 50%;
}

.slider-controls__label:hover,
.slider__slide-first:checked ~ .slider-controls__label:nth-of-type(1),
.slider__slide-second:checked ~ .slider-controls__label:nth-of-type(2),
.slider__slide-third:checked ~ .slider-controls__label:nth-of-type(3) {
    background: #000000;
    
}

.slider__slide-first:checked ~ .slider__list > .slide1,
.slider__slide-second:checked ~ .slider__list > .slide2,
.slider__slide-third:checked ~ .slider__list > .slide3 {
    opacity: 1;
    z-index: 1;
}

.goods {
    width: 1160px;
    margin: 0 auto;
}

.goods__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goods__item {
    width: 160px;
}

.goods-wrapper {
    background-color: #f7e296;
    height: 160px;
    position: relative;
}

.goods-wrapper__img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.goods-wrapper__img--monopods {
    top: 64%;
}

.goods__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.slider-services {
    background-color: #e5e5e5;
    position: relative;
}

.slider-services__list {
    width: 1160px;
    margin: 0 auto;
    list-style: none;
    position: relative;
    min-height: 500px;
}

.slider-services-description__title {
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
}

.slider-services-description__text {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}


.slider-services__item {
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.slider-services-controls {
    position: absolute;
}

.slider-services__slide-first:checked ~ .slider-services__list > .slide-services1,
.slider-services__slide-second:checked ~ .slider-services__list > .slide-services2,
.slider-services__slide-third:checked ~ .slider-services__list > .slide-services3 {
    opacity: 1;
    z-index: 1;
}

.slider-services__slide-first,
.slider-services__slide-second,
.slider-services__slide-third {
    display: none;
}

.slider-services-controls__label {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.partners {
    background: #ffffff;
}

.partners__list {
    width: 1160px;
    margin: 0 auto;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    background: #ffffff;
}

.about-us__title {
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
}

.about-us__text {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.about-us__transport-list {
    list-style: none;
}

.about-us__transport-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.about-us__link {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.contacts__title {
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
}

.contacts__text {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.contacts__button {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.page-footer {
    background: #464646;
}

.page-footer__wrapper {
    width: 1160px;
    margin: 0 auto;
}

.user-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-nav__logo {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffc600;
}

.user-nav__list {
    list-style: none;
}

.user-nav__item {
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contacts__address {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.footer-contacts__list {
    list-style: none;
}

.footer-contacts__item {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-contacts__phone {
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__list {
    list-style: none;
}

.page-main__title {
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
    width: 1160px;
    margin: 0 auto;
}

.breadcrumb {
    background: #ffffff;
    width: 1160px;
    margin: 0 auto;
}

.breadcrumb__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;
}

.breadcrumb__link {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.3;
}

.catalog__wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter {
    background: #efefef;
    width: 500px;
}

.filter__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}

.filter__cost,
.color__title,
.bluetooth__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.price-controls__min,
.price-controls__max {
    font-size: 14px;
    line-height: 24px;
}

.color__list,
.bluetooth__list {
    list-style: none;
}

.form__button {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.monopods {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.sort {
    background: #ebebeb;
}

.sort__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.sort__list {
    list-style: none;
}

.sort__link {
    font-size: 14px;
    line-height: 18px;
}

.sort__arrow-list {
    list-style: none
}

.catalog-goods__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-description__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.item-description__cost {
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}
.catalog-goods__wrapper {
    background: #efefef;
}

.add-goods__button {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.add-goods__text {
    font-size: 13px;
    line-height: 36px;
    opacity: 0.5;
}

.pagination {
    background: #ebebeb;
}

.pagination__list {
    list-style: none;
}

.pagination__link {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.pagination__link--not-active {
    opacity: 0.3;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.modal-write {
    display: none;
}